{% extends 'job-header.html' %}
{% block body_block%}
{% load static %}



        <!-- Carousel Start -->
            <div class="owl-carousel header-carousel position-relative">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{% static 'img/carousel-1.jpg'%}" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-3 text-white animated slideInDown mb-4">Find The Perfect Job That You Deserved</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">Searching for a job can sometimes be a challenging process that requires determination and courage.</p>
                                    <a href="/joblist/" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Search A Job</a>
                                    {% if username %}
                                    <a href="/job_post/" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>
                                    {% else %}
                                    <a href="/job_login/" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{% static 'img/carousel-2.jpg' %}" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-3 text-white animated slideInDown mb-4">Find The Best Startup Job That Fit You</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work.</p>
                                    <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Search A Job</a>
                                    <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->


      

        <!-- Category Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
                <div class="row g-4">
                    
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="/cat_job/6">
                            <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
                            <h6 class="mb-3">Software</h6>
                            <p class="mb-0">Click Here</p>
                        </a>
                    </div>

                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a class="cat-item rounded p-4" href="/cat_job/3">
                            <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                            <h6 class="mb-3">Customer Service</h6>
                            <p class="mb-0">Click Here</p>
                            
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a class="cat-item rounded p-4" href="/cat_job/5">
                            <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                            <h6 class="mb-3">Human Resource</h6>
                            <p class="mb-0">Click Here</p>
                            
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <a class="cat-item rounded p-4" href="/cat_job/7">
                            <i class="fa fa-3x fa-tasks text-primary mb-4"></i>
                            <h6 class="mb-3">Project Management</h6>
                            <p class="mb-0">Click Here</p>
                       
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="/cat_job/8">
                            <i class="fa fa-3x fa-chart-line text-primary mb-4"></i>
                            <h6 class="mb-3">Business Development</h6>
                            <p class="mb-0">Click Here</p>
                            
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a class="cat-item rounded p-4" href="/cat_job/9">
                            <i class="fa fa-3x fa-hands-helping text-primary mb-4"></i>
                            <h6 class="mb-3">Sales & Communication</h6>
                            <p class="mb-0">Click Here</p>
                           
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a class="cat-item rounded p-4" href="/cat_job/10">
                            <i class="fa fa-3x fa-book-reader text-primary mb-4"></i>
                            <h6 class="mb-3">Teaching & Education</h6>
                            <p class="mb-0">Click Here</p>
                            
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <a class="cat-item rounded p-4" href="/cat_job/11">
                            <i class="fa fa-3x fa-drafting-compass text-primary mb-4"></i>
                            <h6 class="mb-3">Design & Creative</h6>
                            <p class="mb-0">Click Here</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="row g-0 about-bg rounded overflow-hidden">
                            <div class="col-6 text-start">
                                <img class="img-fluid w-100" src="{% static 'img/about-1.jpg' %}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid" src="{% static 'img/about-2.jpg' %}" style="width: 85%; margin-top: 15%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid" src="{% static 'img/about-3.jpg' %}" style="width: 85%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid w-100" src="{% static 'img/about-4.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                        <p class="mb-4">A job portal is a website where people who need jobs can find jobs and companies looking for job seekers can find the perfect employees. It serves as a medium where job seekers can create profiles, upload resumes, and search for job openings across various industries and locations.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>“Join our team and unlock your potential!”</p>
                        <p><i class="fa fa-check text-primary me-3"></i>“Discover your passion, shape your career!”</p>
                        <p><i class="fa fa-check text-primary me-3"></i>“Ignite your career with us!”</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="/job_aboutus">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Jobs Start -->
      
        <!-- Jobs End -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" >
            <div class="container">
                <h1 class="text-center mb-5">Our Clients Say!!!</h1>


                
                 {% comment %}
                       <div class="owl-carousel testimonial-carousel">
                           <!-- Testimonial items -->
                          
                           <div class="testimonial-item">
                               <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                               <p>- John Doe</p>
                           </div>
                           <div class="testimonial-item">
                               <img class="img-fluid flex-shrink-0 rounded" src="/media/{{testii.img}}" style="width: 50px; height: 50px;">
                               <p>"Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                               <p>- Jane Smith</p>
                           </div>
                         
                           <!-- Add more testimonial items as needed -->
                       </div>
                 {% endcomment %}
            
                 <div id="testidata"></div>
                
                
                    <div class="owl-carousel testimonial-carousel">

                        <div id="testidata"></div>
                        
                       
                       {% comment %}
                          <div class="testimonial-item bg-light rounded p-4">
                              <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                              <p>{{testii.about}}</p>
                              <div class="d-flex align-items-center">
                                  <img class="img-fluid flex-shrink-0 rounded" src="/media/{{testii.img}}" style="width: 50px; height: 50px;">
                                  <div class="ps-3">
                                      <h5 class="mb-1">{{testii.name}}</h5>
                                      <small>{{testii.profession}}</small>
                                  </div>
                              </div>
                          </div>
                        
                       {% endcomment %}
                      
    
                    </div>
             
            </div>
        </div>
        <!-- Testimonial End -->

        
        {% endblock %}